{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;|&nbsp;{{- end -}}
{{- end }}
{{- i18n "translations" | default "Translations" }}:
<div class="i18n_dropdown">
    <select class="i18n_select" onchange="window.location.href=this.value">
        <option value="{{ .Permalink }}">
            {{- .Language.LanguageName -}}
        </option>
        {{- range .Translations }}
        <option value="{{ .Permalink }}">
            {{- .Language.LanguageName -}}
        </option>
        {{- end }}
    </select>
</div>
{{- end -}}
