.infobox {
    float: right
}

.infobox table {
    border: 1px solid var(--border);
    font-size: 14px;
}

.infobox td, .infobox th {
    line-height: 1 !important;
}

.infobox td:first-child {
    font-weight: bold;
}

.infobox tbody img {
    margin: 1rem auto;
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
}

.heart-icon {
    color: transparent;
    background-image: url(/images/icons/heart.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 12px;
}

@media (max-width: 768px) {
    .infobox {
        float: unset;
    }

    .infobox table {
        display: table;
    }
}