<div class="infobox">
    <table>
        <thead>
        <tr>
            <th colspan="2" style="text-align:center">
                {{- if isset .Params "name" -}}
                    {{- index .Params "name" -}}
                {{- end -}}
            </th>
        </tr>
        </thead>
        <tbody>
        {{- if isset .Params "image" -}}
            <tr>
                <td colspan="2">
                    <img src="/images/items/{{ index .Params "image" }}"/>
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "health" -}}
            <tr>
                <td>
                    Health points
                </td>
                <td>
                    {{- index .Params "health" | int -}}
                    ({{- math.Div (index .Params "health" | int) 2 -}} &times; <span class="heart-icon">❤️</span>)
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "behavior" -}}
            <tr>
                <td>
                    Behavior
                </td>
                <td>
                    {{- index .Params "behavior" -}}
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "strength" -}}
            <tr>
                <td>
                    Attack strength
                </td>
                <td>
                    {{- index .Params "strength" | int -}} <span class="heart-icon">❤️</span>
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "speed" -}}
            <tr>
                <td>
                    Speed
                </td>
                <td>
                    {{- index .Params "speed" | int -}}
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "renewable" -}}
            <tr>
                <td>
                    Renewable
                </td>
                <td>
                    {{- index .Params "renewable" -}}
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "stackable" -}}
            <tr>
                <td>
                    Stackable
                </td>
                <td>
                    {{- index .Params "stackable" -}}
                </td>
            </tr>
        {{- end -}}
        {{- if isset .Params "tool" -}}
            <tr>
                <td>
                    Tool
                </td>
                <td>
                    {{- index .Params "tool" -}}
                </td>
            </tr>
        {{- end -}}
        </tbody>
    </table>
</div>